@charset "UTF-8";
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.32rem;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

p {
  font-family: "Roboto", sans-serif;
}

.restaurant-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.55rem;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.step__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.063rem;
  font-weight: 500;
  line-height: 1.245rem;
  text-align: left;
  color: #000000;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.intro {
  margin: 0;
  padding: 0;
}

.intro__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.55rem;
  color: #000000;
  padding: 0 20px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

.intro__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.32rem;
  color: #353535;
  max-width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.menu__section h2 {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.card__title {
  width: 267px;
  height: 20px;
  font-size: 0.9375rem;
  font-weight: bold;
  color: #000000;
}

.menu__description {
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.245rem;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.price,
.euro {
  font-family: "Roboto", sans-serif;
  font-size: 0.94rem;
  font-weight: 700;
  line-height: 1.1rem;
  text-align: center;
}

.euro {
  color: #FFFFFF;
}

@media (min-width: 1024px) {
  main {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  main {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  background: none;
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 1.125rem;
  line-height: 1.32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

.footer {
  width: 100%;
  min-height: 186px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  position: relative;
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
.footer__container {
  max-width: 375px;
  width: 375px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
}
.footer__logo {
  width: 190px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
}
.footer__logo-text {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26.24px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
}
.footer__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
}
.footer__links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.4375rem;
}
.footer__link-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.footer__link-item-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 0.875rem;
  height: 0.875rem;
}
.footer__link-item-icon i {
  font-size: 0.875rem;
  line-height: 1;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    min-height: 114px;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: 1024px;
    width: 100%;
  }
  .footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: auto;
  }
  .footer__logo {
    order: 2;
    margin-left: 25px;
  }
}
.header {
  width: 100%;
  height: 3.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
}
.header .logo {
  width: auto;
  height: 36px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  margin-top: 1.0625rem;
}
.header__location {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.0625rem;
  padding: 0 7.406rem;
  background-color: #EAEAEA;
  box-shadow: 0px 0.25rem 0.9375rem rgba(0, 0, 0, 0.1);
}
.header__location .location__icon {
  font-size: 0.9375rem;
  color: #000000;
}
.header__location .location__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.063rem;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
}

.intro {
  width: 100%;
  background-color: #F6F6F6;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.0625rem;
  text-align: center;
  min-height: 287px;
}

.intro__content {
  height: 287px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.0625rem;
  word-wrap: break-word;
  overflow: hidden;
}

.intro__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.55rem;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 39.5px;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

.intro__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.32rem;
  color: #353535;
  max-width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 3.9375rem;
  background-color: #F6F6F6;
  position: relative;
}
.header .direction__icon {
  position: absolute;
  top: 17px;
  left: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 30px;
  height: 30px;
  color: #353535;
}
.header .direction__icon a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.header .direction__icon a i {
  font-size: 1.125rem;
  color: #353535;
}
.header .logo__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5px;
}
.header .logo__container img {
  width: auto;
  height: 36px;
  display: block;
}

/* -------------------------------------------------------
  ✅ HEADER DU RESTAURANT (Titre + Cœur)
------------------------------------------------------- */
.restaurant-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding-left: 1.0625rem;
  padding-right: 1.0625rem;
  width: 100%;
  margin-top: 2rem;
  gap: 24px;
  justify-content: center;
}
.restaurant-header .restaurant-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: 51px;
}
.restaurant-header .card__icon-pink {
  width: 1.375rem;
  height: 1.375rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  top: -5px;
  cursor: pointer;
  top: 25px;
}
.restaurant-header .card__icon-pink input {
  display: none;
}
.restaurant-header .card__icon-pink .card__icon {
  font-size: 1.375rem;
  color: #000000;
}

/* -------------------------------------------------------
  ✅ BANNIÈRE DU RESTAURANT
------------------------------------------------------- */
.restaurant-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.restaurant-banner .banner-img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

/* -------------------------------------------------------
  ✅ CONTENEUR DU MENU
------------------------------------------------------- */
.menu-container {
  position: relative;
  background-color: #F6F6F6;
  border-radius: 25px 25px 0 0;
  gap: 1.5rem;
  margin-top: -2.3125rem;
  z-index: 2;
  /* -------------------------------------------------------
    ✅ STYLE DU BOUTON CŒUR 
  ------------------------------------------------------- */
}
.menu-container .menu-container h1 {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
}
.menu-container .card__icon-pink {
  width: 1.375rem;
  height: 1.3125rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  cursor: pointer;
}
.menu-container .card__icon-pink .card__checkbox {
  display: none;
}
.menu-container .card__icon-pink .card__icon--empty {
  font-size: 1.375rem;
  color: #000000;
  position: absolute;
}
.menu-container .card__icon-pink .card__icon--full {
  font-size: 1.375rem;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  opacity: 0;
}

.menu-container {
  transform: translateY(-20px);
}/*# sourceMappingURL=index.css.map */;


/* -------------------------------------------------------
  BOUTON COMMANDER
------------------------------------------------------- */
.order {
  height: 187px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.btn--order {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  box-shadow: 0px 0.25rem 0.625rem rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  padding: 13px 1rem;
  transition: box-shadow 0.3s ease;
  width: 186px;
  height: 50px;
}
.btn--order:hover {
  background: linear-gradient(to top, #A16BE0, #FF93E1);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.4);
}

/* ✅ Application des animations via le label et la checkbox */
.menu__check-input:checked + .menu__check-label + .menu__check {
  width: 59px;
}
.menu__check-input:checked + .menu__check-label + .menu__check .menu__check-circle,
.menu__check-input:checked + .menu__check-label + .menu__check .fa-check {
  opacity: 1;
}

.menu__check-input:checked + .menu__check-label ~ .menu__content .menu__price {
  transform: translateX(-59px);
}

.menu__check-input:checked + .menu__check-label ~ .menu__content .menu__text {
  max-width: calc(100% - 59px - 15px - 15px - 10px);
}

/* -------------------------------------------------------
  MEDIA QUERIES (RESPONSIVE)
------------------------------------------------------- */
/* ✅ TABLETTE (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-container {
    width: 100%;
    max-width: 600px;
  }
  .menu__section {
    padding: 0 95px;
  }
  .menu__item {
    max-width: 400px;
  }
}
/* ✅ DESKTOP (1024px et +) */
@media screen and (min-width: 1024px) {
  .menu-container {
    width: 100%;
    max-width: 1055px;
  }
  .menu__section {
    padding: 0 210px;
  }
  .menu__item {
    max-width: 634px;
  }
}/*# sourceMappingURL=index.css.map */