// 🌍 Abstracts (Variables, Mixins, Animations, Breakpoints)
// 🌍 **1. Imports des fichiers globaux**
@use './abstracts/variables'as *;
@use './abstracts/mixins'as *;
@use './abstracts/animations';
@use './abstracts/breakpoints';

// 📌 **2. Base (Reset, Typographie, Styles de base)**
@use './base/reset';
@use './base/typography';
@use './base/base';

// 📌 **3. Composants réutilisables**
@use './components/buttons';
@use './components/card';

// 📌 **4. Layout (Structure du site)**
@use './layout/header';
@use './layout/footer';
@use './layout/grid';
@use './layout/steps';

// 📌 **5. Pages principales**
@use './pages/home';
@use './pages/responsive';

// 📌 **6. Pages Restaurants**
@use './restaurants/mixins_personnalises'as *;
@use './restaurants/a_la_francaise';
@use './restaurants/la_note_enchante';
@use './restaurants/la_palette_du_gout';
@use './restaurants/le_delice_des_sens';

// 🌍 **7. Styles globaux supplémentaires**
body {
    margin: 0;
    font-family: $font-family-primary;
}




body {
    margin: 0;
}

