@use '../base' as *;

.footer {
    width: 100%;
    min-height: 186px;
    @include flexbox(row, flex-start, center, 1rem);
    position: relative;
    background-color: #353535;
    color: white;
    padding: 22px 25px;

    &__container {
        max-width: 375px;
        width: 375px;
        padding: 0;
        @include flexbox(column, flex-start, stretch, 16px);
    }

    &__logo {
        width: 190px;
        @include flexbox();
    }

    &__logo-text {
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: 26.24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
    }

    &__nav {
        width: 100%;
        @include flexbox(row, flex-start);
    }

    &__links {
        list-style: none;
        padding: 0;
        @include flexbox(column, flex-start, stretch, 0.4375rem);
    }

    &__link-item {
        @include flexbox(row, flex-start, center, 10px);
    }

    &__link-item-icon {
        @include flexbox(row, center, center);
        width: 0.875rem;
        height: 0.875rem;

        i {
            font-size: 0.875rem;
            line-height: 1;
            vertical-align: middle;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px;
        min-height: 114px;

        &__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            max-width: 1024px;
            width: 100%;
        }

        &__links {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            width: auto;
        }

        &__logo {
            order: 2;
            margin-left: 25px;
        }
    }
}