@import "../base/variables";
@import "../base/mixins";

.header {
    width: 100%;
    height: $header-height;
    @include flex(column, center, center);
    box-shadow: $header-box-shadow;
    background-color: $color-background;

    .logo {
        width: auto;
        height: 36px;
        @include flex(center, center);
        margin-top: $gap-medium;
    }

    &__location {
        width: 100%;
        height: 50px;
        @include flex(row, center, center, $gap-medium);
        padding: 0 7.406rem;
        background-color: $color-location;
        box-shadow: $box-shadow-light;

        .location__icon {
            font-size: $font-size-xs;
            color: $color-primary;
        }

        .location__text {
            font-family: $font-primary;
            font-size: $font-size-small;
            font-weight: $font-weight-medium;
            text-align: left;
            white-space: nowrap;
        }
    }
}

