.intro {
    width: 100%;
    background-color: $color-card-background;
    background-size: cover;
    @include flex-column-center($gap-medium); // Utilisation de la mixin
    text-align: center;
    min-height: 287px; // Ajustement de la hauteur
}

.intro__content {
    height: 287px; // Fixer la hauteur
    @include flex-column-center($gap-medium); // Réutilisation de la mixin
    word-wrap: break-word;
    overflow: hidden; // Empêcher le débordement du contenu
}

.intro__title {
    font-family: $font-primary;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    line-height: $line-height-xl;
    color: $color-primary;
    padding-left: 20px; // Réduction du padding
    padding-right: 20px;
    margin-top: 39.5px; // Réduction de l'espace au-dessus
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

.intro__text {
    font-family: $font-primary;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
    line-height: 1.32rem;
    color: $color-secondary;
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px; // Réduction de l'espace en bas si nécessaire
}