@use '../base' as *;

// Header principal
.header {
    @include flexbox(row, center, center);
    width: 100%;
    height: $header-height;
    background-color: $color-card-background;
    position: relative;


    .direction__icon {
        position: absolute;
        top: 17px;
        left: 16px;
        @include flexbox(row, center, center);
        width: 30px;
        height: 30px;
        color: $color-secondary;

        a {
            @include flexbox(row, center, center);

            i {
                font-size: $font-size-medium;
                color: $color-secondary;
            }
        }
    }

    .logo__container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: 5px;

        img {
            width: auto;
            height: 36px;
            display: block;
        }
    }
}

// titre


/* -------------------------------------------------------
 HEADER DU RESTAURANT (Titre + Cœur)
------------------------------------------------------- */
.restaurant-header {
    @include flexbox(row, flex-start, center); //  Alignement vertical du titre et du cœur
    padding-left: $gap-medium;
    padding-right: $gap-medium;
    width: 100%;
    margin-top: $padding-section;
    gap: 24px;
    justify-content: center;

    .restaurant-title {
        font-family: $font-secondary;
        font-size: $font-size-xl;
        font-style: italic;
        font-weight: $font-weight-regular;
        line-height: 1; // très important pour alignement précis
        margin: 0; // très important, supprime tout décalage supplémentaire
        display: flex;
        align-items: center;
        margin-top: 51px;
    }

    .card__icon-pink {
        width: 1.375rem;
        height: 1.375rem;
        @include flexbox(row, center, center);
        position: relative;
        top: -5px;
        cursor: pointer;
        top: 25px;

        input {
            display: none;
        }

        .card__icon {
            font-size: 1.375rem;
            color: $color-primary;
        }
    }
}

/* -------------------------------------------------------
   BANNIÈRE DU RESTAURANT
------------------------------------------------------- */
.restaurant-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;

    .banner-img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        display: block;
        opacity: 0.5;
        animation: fadeIn 1.5s ease-in-out forwards;
    
    }
}



/* -------------------------------------------------------
   CONTENEUR DU MENU
------------------------------------------------------- */
.menu-container {
    position: relative;
    background-color: $color-card-background;
    border-radius: $button-radius $button-radius 0 0;
    gap: $gap-large;
    margin-top: -2.3125rem;
    z-index: 2;

    .menu-container h1 {
        font-family: $font-secondary;
        font-style: italic;
        font-weight: $font-weight-regular;
    }

    /* -------------------------------------------------------
   STYLE DU BOUTON CŒUR 
------------------------------------------------------- */
    .card__icon-pink {
        width: 1.375rem;
        height: 1.3125rem;
        @include flexbox(row, center, center);
        position: relative;
        cursor: pointer;

        .card__checkbox {
            display: none;
        }

        .card__icon--empty {
            font-size: 1.375rem;
            color: $color-primary;
            position: absolute;
        }

        .card__icon--full {
            font-size: 1.375rem;
            background: $color-gradient;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            position: absolute;
            opacity: 0;
        }
    }
}

.menu-container {
    transform: translateY(-20px); // Monte de 10px
}