@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.steps {
    width: 100%;
    margin-top: 3rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: $background-color;

    &__title {
        margin-bottom: 1.625rem;
    }

    &__list {
        display: grid;
        width: 100%;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .step {
        @include step-style($step-box-width,
            $step-box-height,
            $step-box-background,
            $step-box-border-radius,
            $step-box-shadow);

        position: relative;
        display: flex;
        align-items: center;

        .step__number {
            position: absolute;
            left: -10px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $step-color;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            font-weight: bold;
            margin-right: 24px;
        }

        .step__icon {
            width: $step-icon-width;
            height: $step-icon-height;
            color: $icone-color;
            // margin-right: 38px;
        }

        .step__text {
            margin-left: $step-number-offset;
            flex: 1;
            // padding: 0;
        }
    }
}

.step__icon__store {
    color: $step-color;
}

// Media query pour 1024px et 1440px
@media (min-width: 1024px) and (max-width: 1440px) {
    .steps {
        margin-top: 50px; // Marge supérieure à 50px

        &__list {
            gap: 20px; // Gap à 20px
        }
    }
}