@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.steps {
    width: 100%;
    margin-top: 3rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: $background-color;

    &__title {
        margin-bottom: 1.625rem;
    }

    &__list {
        display: grid;
        width: 100%;
        gap: 20px;
    }

    .step {
        // Utilisation de la mixin pour les étapes
        @include step-style($step-box-width,
            $step-box-height,
            $step-box-background,
            $step-box-border-radius,
            $step-box-shadow);

        position: relative; // Nécessaire pour positionner les éléments enfants

        .step__number {
            position: absolute;
            left: -10px; // Décale légèrement pour être aligné avec le bord du conteneur
            width: 30px; // Taille du cercle
            height: 30px; // Taille du cercle
            border-radius: 50%; // Cercle parfait
            background-color: $step-color; // Couleur de fond du cercle
            color: #fff; // Couleur du texte (blanc)
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem; // Taille du chiffre
            font-weight: bold;
        }

        .step__icon {
            position: absolute;
            // top: 5px;
            left: $step-icon-left-offset;
            width: $step-icon-width;
            height: $step-icon-height;
            margin-right: 38px; // Marge entre l'icône et le numéro
            color: $icone-color;
        
            .step__text {
            margin-left: $step-text-offset;
        }
    }
}

}

    .step__icon__store {
        color: $step-color;
    }






