@use '../abstracts/variables' as *;

@use '../abstracts/mixins' as *;

// Mixin pour les cartes avec tag "Nouveau"
@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;


.restaurants {
    width: 100%;
    background-color: #f7f7f7;

    // Ajout des espacements demandés
    
    

    &__title {
        margin-bottom: $spacing-large;
        padding-left: 10px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 18px;
        padding-bottom: 30px;
    }

    .restaurants__title {
        margin-bottom: 1.625rem;
        padding-left: 10px;
    }
}



