@import "../base/variables";
@import "../base/mixins";

.steps {
    // Configuration globale (inchangé)
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.25rem;
    background-color: $color-background;

    &__title {
        width: 100%;
        margin-bottom: 1.625rem;
        font-family: "Arial", sans-serif;
        color: $color-primary;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        /* ✅ Configuration mobile par défaut */
        gap: 20px;
        justify-items: center;
    }


    &__list {
        max-width: 1053px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .step {
        width: 100%;
        position: relative;
        background-color: $color-background;
        border-radius: 1.25rem;
        box-shadow: $box-shadow-light;
        padding: 20px;
        min-height: 72px;
        @include flex(row, flex-start, flex-start);
    }

    .step__number {
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $color-step;
        color: $color-background;
        font-size: $font-size-xxs;
        font-weight: bold;
        @include flex(center, center);
    }

    .step__icon {
        margin-left: 20px;
        margin-right: 20px;
        color: $color-secondary;
        margin-top: 0;
        display: flex;
        align-items: flex-start;

        i {
            font-size: 1.25rem;
            margin-top: 2px;
        }
    }

    .step__icon--first {
        margin-left: 20px;
    }

    .step__text {
        white-space: nowrap;
        font-family: $font-primary;
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 18.75px;
        margin-top: 0;
        padding-top: 3px;
    }
}

.step__icon__store {
    color: $color-step;
}

.steps__list .step:nth-child(1) .step__icon {
    font-size: 2.5rem;
    margin-left: 25px;
}

