/* -------------------------------------------------------
  ✅ IMPORTS GLOBAUX
------------------------------------------------------- */
@import "../base/variables";
@import "../base/mixins";

/* -------------------------------------------------------
  ✅ SECTION : STEPS (ÉTAPES)
------------------------------------------------------- */
.steps {
    width: 100%;
    padding: 0 1.25rem;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 68px;
}

.steps__title {
    width: 100%;
    margin: 48px 0 1.625rem;
    font-family: $font-primary;
    color: $color-primary;
}

.steps__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    width: 100%;
}

.steps__list {
    max-width: 1053px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

/* -------------------------------------------------------
  ✅ STYLE DES ÉTAPES (STEP)
------------------------------------------------------- */
.step {
    width: 100%;
    position: relative;
    background-color: $color-background;
    border-radius: 1.25rem;
    box-shadow: $box-shadow-light;
    padding: 20px;
    min-height: 72px;
    @include flexbox(row, flex-start, flex-start);
}

/* ✅ Changement de couleur pour les icônes des étapes */
.steps__list .step__icon {
    color: $color-icon;
}

.step__number {
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-step;
    color: $color-background;
    font-size: $font-size-xxs;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.step__icon {
    margin: 0 20px;
    color: $color-secondary;
    display: flex;
    align-items: flex-start;

    i {
        font-size: 1.25rem;
        margin-top: 2px;
    }
}

.step__text {
    white-space: nowrap;
    font-family: $font-primary;
    font-weight: $font-weight-medium;
    font-size: 16px;
    line-height: 18.75px;
    margin-top: 0;
    padding-top: 3px;
}

.step__icon__store {
    color: $color-step;
}

.steps__list .step:nth-child(1) .step__icon {
    font-size: 2.5rem;
    margin-left: 25px;
}

.step__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/* -------------------------------------------------------
  MEDIA QUERIES (RESPONSIVE)
------------------------------------------------------- */

@media screen and (max-width: 767px) {
    .steps {
        max-width: none;
    }
}

@media screen and (min-width: 768px) {
    .steps {
        max-width: 1440px;
        margin: 0 auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 5% 10%;
        gap: 20px;
    }

    .steps__title {
        text-align: left;
    }

    .steps__list {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 20px;
    }

    .step {
        max-width: 30%;
        flex: 1;
        padding: 12px;
        align-items: center;
        justify-content: center;
        text-align: center;

        .step__text {
            white-space: normal;
        }
    }
}

@media screen and (min-width: 1024px) {
    .steps {
        padding: 50px 180px;
        gap: 25px;
    }

    .steps__list {
        gap: 24px;
    }

    .step {
        max-width: 335px;
        padding: 15px;
    }
}