@use '../abstracts/variables'as *;

body {
    font-family: $font-family-primary; // Police par défaut
    color: $primary-color; // Couleur principale du texte
    background-color: $background-color; // Fond global
    font-size: $font-size-medium; // Taille de texte par défaut
    line-height: 1.32rem; // Hauteur de ligne par défaut
}


.main-container {
    display: flex;
    flex-direction: column;
    width: 100%; // Prend toute la largeur de l'écran
    margin: 0 auto; // Centre le conteneur
    
}

// Styles de base pour le conteneur principal (main)
main {
    width: 100%;
    margin: 0 auto;
}


// Reset pour html et body (pour une base propre)
html,
body {
    margin: 0;
    padding: 0;
}

// Styles de base pour les sections intro et autres
.intro {
    margin: 0;
    padding: 0;
}

// Pour les tablettes et plus grands écrans
@media (min-width: $tablet-width) {
    main {
        max-width: 1440px; // limite la largeur du conteneur
        padding: 0; // retire le padding horizontal
    }

    .main-container {
        width: 100%; // Toujours 100% pour tablette
    }
}

// Pour les ordinateurs de bureau et plus grands écrans (ajouté pour une complétude)
@media (min-width: 1440px) {
    main {
        max-width: 1440px; // limite la largeur du conteneur
        padding: 0;
    }
}