@use '../base/variables' as *;
@use '../base/mixins' as *;
// ===============================
//  Reset CSS Global
// ===============================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input {
    border: none;
    background: none;
    font-family: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

// ===============================
//  Styles Généraux du Projet
// ===============================

body {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    color: $color-primary; // Couleur principale du texte
    background-color: $color-background; // Fond global
    font-size: $font-size-medium; // Taille de texte par défaut
    line-height: $line-height-medium; // Hauteur de ligne par défaut
    display: flex;
    flex-direction: column;
    align-items: center; // On centre le contenu sur body
    
}

main {
    width: 100%; // Prend toute la largeur de l'écran
    max-width: 1440px;
    margin: 0 auto; // Centre le conteneur
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* Added line */
    border: 0;
}