// ===============================
// 🔄 Reset CSS Global
// ===============================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input {
    border: none;
    background: none;
    font-family: inherit;
}

// ===============================
// 📝 Typographies Globales
// ===============================
.restaurant-title {
    font-family: $font-secondary;
    font-size: $font-size-xl;
    font-style: italic;
    font-weight: 400;
    line-height: $line-height-xl;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.menu__section h2 {
    position: relative; // ✅ Nécessaire pour bien positionner le ::after
    font-family: $font-primary;
    font-size: 1rem; // 16px
    font-weight: 300;
}


h2 {
    font-family: $font-primary;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $color-primary;
    margin-top: 54px;
}

h3 {
    font-family: $font-primary; // Roboto
    font-size: $font-size-h3;
    font-weight: $font-weight-medium;
    line-height: $line-height-medium;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.card__title {
    font-family: $font-primary;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
    color: $color-primary;

}

p {
    font-family: $font-primary;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

.step__text {
    font-family: $font-primary; // ✅ Roboto
    font-size: $font-size-small; // ✅ 16px
    font-weight: $font-weight-medium; // ✅ 500
    line-height: $line-height-small; // ✅ 18.75px
    text-align: left;
    color: $color-primary;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

// ===============================
// 🍽️ Styles spécifiques aux restaurants
// ===============================



// ===============================
// 🃏 Styles pour les cartes
// ===============================

.card__title {
    width: 267px;
    height: 20px;
    font-size: $font-size-xs;
    font-weight: bold;
}

.menu__description {
    font-family: $font-primary; // Police Roboto
    font-size: $font-size-xs; // 15px (0.9375rem)
    font-weight: $font-weight-light; // 300
    line-height: $line-height-small; // 17.63px
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


.price {
    font-family: $font-primary; // ✅ Roboto
    font-size: $font-size-price;
    font-weight: $font-weight-bold;
    line-height: $line-height-price;
    text-align: center;

}

.euro {
    font-family: $font-primary;
    font-size: $font-size-price;
    font-weight: $font-weight-bold;
    line-height: $line-height-price;
    text-align: center;
    color: $color-background;

}