@use './variables'as *; // Importation des variables globales

/* Supprime les marges/paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Garantit que les bordures/marges sont incluses dans les dimensions
}

.main-container {
    width: 100%; // Pleine largeur pour mobile
    max-width: 375px; // Limite la largeur sur mobile
    margin: 0 auto; // Centre le conteneur
    padding: 1rem; // Ajoute un espace interne global
}


html, body {
    margin: 0;
    padding: 0;
}



/* Supprime les décorations des liens */
a {
    text-decoration: none;
    color: inherit;
}

/* Réinitialise les listes */
ul,
ol {
    list-style: none;
}

/* Corps du texte global */
body {
    font-family: $font-family-primary; // Police par défaut
    color: $primary-color; // Couleur principale du texte
    background-color: $background-color; // Fond global
    font-size: $font-size-medium; // Taille de texte par défaut
    line-height: $line-height-medium; // Hauteur de ligne par défaut
}


body {
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    
}


img {
    max-width: 100%;
    height: auto;
}

button, input, textarea {
    border: none;
    background: none;
    font-family: inherit;
}

.intro {
  margin: 0; // Supprime toute marge externe
  padding: 0; // Supprime tout padding interne
}
