@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;



h2 {
    font-family: $font-family-primary;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $primary-color; 
    margin-top: 54px;
}



.card__title {
    width: 267px;
    height: 20px;
    font-size: 1rem;
    font-weight: bold;

    /*  Autres styles */
}


p {
    font-family: $font-family-primary;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    /* Police Shrikhand */
    font-size: 28px;
    /* Taille de police */
    font-style: italic;
    /* Style italique */
    font-weight: 400;
    /* Poids de la police */
    line-height: 40.82px;
    /* Hauteur de ligne */
    text-align: left;
    padding: 17px;
    /* Alignement du texte à gauche */
    text-underline-position: from-font;
    /* Position de soulignement (si nécessaire) */
    text-decoration-skip-ink: none;
    /* Pour éviter l'activation du soulignement ou le "saut de l'encre" */
}


