@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;



h2 {
    font-family: $font-family-primary;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $primary-color; 
    margin-top: 54px;
}



.card__title {
    width: 267px;
    height: 20px;
    font-size: 1rem;
    font-weight: bold;

    /*  Autres styles */
}


p {
    font-family: $font-family-primary;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

.restaurant-title {
    font-family: 'Shrikhand', cursive;
    /* Ajout de "cursive" comme alternative */
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 40.82px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}