@use '../base/variables' as *; // Pour accéder aux variables
@use '../base/mixins' as *; // Si des mixins sont utilisés

.intro {
  width: 100%; // Prend toute la largeur de l'écran
  height: 287px; // Hauteur de la section
  background-color: $card-background; // Couleur du fond
  display: flex; // Utilisation de flexbox
  flex-direction: column; // Aligne les éléments verticalement
  align-items: center; // Centre horizontalement
  justify-content: center; // Centre verticalement
  text-align: center; // Centre le texte
  gap: $gap-medium; // Espacement entre les éléments
}

    
    
  
    .main-title {
      font-family: $font-family-primary; // Roboto
      font-size: 1.75rem; // 28px
      font-weight: $font-weight-bold; // 700
      line-height: 2.55rem; // 40.8px
      color: $primary-color; // Noir
      margin: 0; // Pas de marge pour gérer via flexbox
      padding: 0 2.625rem; // Respect des marges gauche/droite : 42px à gauche, 58px à droite
    }
  
    .intro__text {
      font-family: $font-family-primary; // Roboto
      font-size: 1.125rem; // 18px
      font-weight: $font-weight-light; // 300
      line-height: 1.32rem; // 21.09px
      color: $secondary-color; // Gris foncé pour le texte
      margin: 1rem auto 0 auto; // Espace de 16px entre le titre et le texte
      padding: 0 2.625rem; // Marges latérales identiques
    }
  
  