@import "../base/variables";
@import "../base/mixins";

/* SECTION MENU */
.menu__section {
    margin-top: $margin-section-menu;
    padding: 13px;
}

.menu__section h2 {
    margin: 0;
    position: relative;
    margin-bottom: $margin-bottom-menu-h2;


    &::after {
        content: "";
        width: 50%;
        width: $gap-large;
        border-top: 3px solid $color-schek;
        position: relative;
        left: 0;
        top: 5px;
        display: block;
    }
}

.menu__section {
    margin-top: $margin-section-menu;
    padding: 13px;


    h2 {
        position: relative;
        margin-bottom: $margin-bottom-menu-h2;
        padding-left: $gap-medium;
    }
}

// menu

.menu__item {
    width: 100%;
    padding: 12px 0;
    border-radius: 15px;
    box-shadow: $box-shadow-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 12px;
    /* Ajout du gap entre les boîtes */
}

.menu__item:last-child {
    margin-bottom: 0;
    /* Supprime la marge du dernier élément */
}

.menu__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    box-sizing: border-box;
}

.menu__text {
    width: 287px;
    gap: $gap-small;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 15px;
    box-sizing: border-box;
}

.menu__title {
    font-family: $font-primary;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    line-height: 21.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
}

.menu__description {
    font-family: $font-primary;
    font-size: $font-size-price;
    font-weight: $font-weight-light;
    line-height: $line-height-price;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 100%;
    margin: 0;
}

.menu__price {
    font-family: $font-primary;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    margin-right: 15px;
    box-sizing: border-box;
    align-self: flex-end;
}

.order {
    /* Hauteur fixe de 187px pour laisser un espace défini entre le menu et le footer */
    height: 187px;

    /* On centre le bouton horizontalement et verticalement */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn--order {
    @include button-style();

    /* Taille du bouton */
    width: $button-width;
    height: $button-height;

    /* Au survol, on utilise un autre gradient + une ombre différente */
    &:hover {
        /* Définis un gradient "un peu plus clair" à la main */
        background: $color-gradient;
        /* Ombre plus marquée */
        box-shadow: $box-shadow-strong;
    }
}