/* SECTION MENU */
@import "../base/variables";
@import "../base/mixins";
@import "./animation";

.menu__section {
    margin-top: $margin-section-menu;
    padding: 13px;

    h2 {
        position: relative;
        margin-bottom: $margin-bottom-menu-h2;
        padding-left: $gap-medium;

        &::after {
            content: "";
            width: $gap-large;
            border-top: 3px solid $color-schek;
            position: relative;
            left: 0;
            top: 5px;
            display: block;
        }
    }
}

.menu__item {
    width: 100%;
    padding: 12px 0;
    border-radius: 15px;
    box-shadow: $box-shadow-light;
    @include flexbox(row, space-between, center);
    box-sizing: border-box;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
    transition: $transition-duration $transition-ease;

    &:last-child {
        margin-bottom: 0;
    }
}

.menu__content {
    @include flexbox(row, space-between, center);
    width: 100%;
    padding-right: 15px;
    box-sizing: border-box;
}

.menu__text {
    flex-grow: 1;
    min-width: 0;
    @include flexbox(column, flex-start, flex-start, $gap-small);
    padding-left: 15px;
    box-sizing: border-box;
}

.menu__title {
    font-family: $font-primary;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    line-height: 21.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.menu__description {
    font-family: $font-primary;
    font-size: $font-size-price;
    font-weight: $font-weight-light;
    line-height: $line-height-price;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 100%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.menu__price-container {
    @include flexbox(row, flex-end, center);
    width: 59px;
    transition: width 0.4s ease-in-out;
}

.menu__price {
    font-family: $font-primary;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    margin-right: 15px;
    box-sizing: border-box;
    align-self: flex-end;
    transition: transform 0.4s ease-in-out;
}

.menu__check {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-schek;
    border-radius: 0 15px 15px 0;
    @include flexbox(row, center, center);
    cursor: pointer;
    z-index: 1;
    transition: width $transition-duration $transition-ease;

    .fa-check {
        font-size: 12px;
        opacity: 0;
        color: $color-schek;
        transition: opacity $transition-duration $transition-ease;
    }
}

.menu__check-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color-background;
    @include flexbox(row, center, center);
    color: $color-schek;
    opacity: 0;
    transition: opacity $transition-duration $transition-ease;
}

.menu__check-input {
    display: none;
}

/* HOVER & CHECKED STATES */
.menu__item:hover {
    transform: translateX(-5px);

    .menu__content {
        border-right: 5px solid $color-schek;
    }

    .menu__check,
    .menu__check-input:checked+.menu__check {
        width: 59px;

        .fa-check,
        .menu__check-circle {
            opacity: 1;
        }
    }

    .menu__price,
    .menu__check-input:checked+.menu__check+.menu__content .menu__price {
        transform: translateX(-59px);
    }
}

.order {
    height: 187px;
    @include flexbox(row, center, center);
}

.btn--order {
    @include button-style();
    width: $button-width;
    height: $button-height;

    &:hover {
        background: $color-gradient;
        box-shadow: $box-shadow-strong;
    }
}

