@import "../base/variables";
@import "../base/mixins";


/* ✅ Forcer le 100% en mobile */
@media screen and (max-width: 767px) {
    .restaurants {
        width: 100%;
        max-width: none;
        padding: 0 1.25rem; // ✅ Un padding plus petit pour éviter un effet de marge
    }
}

/* ✅ TABLETTE (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* 🎯 STEPS */
    .steps {
        max-width: 100%;
        padding: 0 5%;
        margin: 0 auto 68px;
    }

    .steps__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 100%;
    }

    .step {
        flex: 1;
        min-width: 250px;
        max-width: 30%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .step__text {
        font-size: 14px;
        white-space: normal;
        word-wrap: break-word;
        text-align: center;
    }

    .step__icon {
        margin-right: 5px;
    }
}

/* ✅ DESKTOP : 1024px et + */
@media screen and (min-width: 1024px) {
    .steps {
        max-width: 1440px;
        height: 228.379px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 180px;
        gap: 25px;
        margin-bottom: 0;
    }

    .steps__title {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }

    .steps__container {
        max-width: 100%;
        margin: 0 auto;
        width: auto;
    }

    .steps__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 24px;
        width: 100%;
    }

    .step {
        max-width: 335px;
        flex: 1;
        padding: 15px; // ✅ Ajustement du padding
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* ==================== FOOTER ==================== */
/* ✅ Responsive Tablette & Desktop (>= 768px) */
@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        min-height: 114px;

        &__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            max-width: 1024px;
            width: auto;
        }

        &__links {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 7px;
            width: 661px;
            height: 20px;
        }

        &__logo {
            order: 2;
            margin-right: 25px;
        }
    }
}