@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;
@use '../abstracts/animations'as *;
@use '../abstracts/breakpoints';

@use '../base/reset'as *;
@use '../base/base';
@use '../base/typography';

@use '../components/buttons';


@use '../layout/header';
@use '../layout/footer';
@use '../layout/grid';
@use '../layout/steps';

// Restaurants

@mixin header-style {
    .header {
        display: flex;
        justify-content: center; // Centre le contenu horizontalement
        align-items: center;
        width: 100%;
        height: 63px;
        background-color: white; // ou la couleur de fond que vous souhaitez
        position: relative;

        .direction__icon {
            position: absolute;
            top: 17px;
            left: 16px;
            display: flex; // Ajoutez display flex pour aligner l'icone au centre du div
            justify-content: center; //Centre l'icone dans le div
            align-items: center;
            width: 30px;
            height: 30px;
            padding: 17px 0; //Padding vertical de 17px

            a {
                display: flex; // Ajoutez display flex pour aligner l'icone au centre du a
                justify-content: center;
                align-items: center;

                i {
                    font-size: 16px;
                    padding: 0;
                }
            }
        }

        .logo__container {
            position: absolute; // Positionnement absolute pour positionner le logo
            left: 50%; // Positionne le logo au milieu
            top: 50%; // Positionne le logo au milieu
            transform: translate(-50%, -50%);
            margin-top: 5px;

            img {
                width: 100%;
                height: 36px;
            }
        }
    }
}

@mixin card-icon-pink {
    $card-icon-pink-width: 1.375rem;
    $card-icon-pink-height: 1.3125rem;
    $card-icon-pink-color: #FF79DA;
    $card-icon-pink-position-top: 2.5rem;
    $card-icon-pink-position-right: 2.5625rem;

    position: absolute;
    top: $card-icon-pink-position-top;
    right: $card-icon-pink-position-right;
    width: $card-icon-pink-width;
    height: $card-icon-pink-height;
    color: $card-icon-pink-color;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    &::before {
        content: '\f004';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }
}

@mixin header-title-and-icon-alignment {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 1.0625rem;
    /* 17px */
    padding-right: 1.0625rem;
    /* 17px */
}

.card__checkbox {
    display: none;
    /* Rendre visible le checkbox */
}

@mixin header-title-and-icon-alignment {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding: 17px;
}
