@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;
@use '../abstracts/animations'as *;
@use '../abstracts/breakpoints';

@use '../base/reset'as *;
@use '../base/base';
@use '../base/typography';

@use '../components/buttons';


@use '../layout/header';
@use '../layout/footer';
@use '../layout/grid';
@use '../layout/steps';


@mixin header-style {
    .header {
        display: flex;
        justify-content: center; // Centre le contenu horizontalement
        align-items: center;
        width: 100%;
        height: 63px;
        background-color: white; // ou la couleur de fond que vous souhaitez
        position: relative;

        .direction__icon {
            position: absolute;
            top: 17px;
            left: 16px;
            display: flex; // Ajoutez display flex pour aligner l'icone au centre du div
            justify-content: center; //Centre l'icone dans le div
            align-items: center;
            width: 30px;
            height: 30px;
            padding: 17px 0; //Padding vertical de 17px

            a {
                display: flex; // Ajoutez display flex pour aligner l'icone au centre du a
                justify-content: center;
                align-items: center;

                i {
                    font-size: 16px;
                    padding: 0;
                }
            }
        }

        .logo__container {
            position: absolute; // Positionnement absolute pour positionner le logo
            left: 50%; // Positionne le logo au milieu
            top: 50%; // Positionne le logo au milieu
            transform: translate(-50%, -50%);
            margin-top: 5px;

            img {
                width: 100%;
                height: 36px;
            }
        }
    }
}